body{
  background-color: rgb(13, 13, 31, 0.9);
}

.card{   
  margin: 15px 10px;
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(226, 243, 243);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

p{
  width: auto;
  padding: 10px 10px;
  min-height: 150px;
  max-height: 150px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
}

img{
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 15px;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: large;
  color: 333;
}

img:hover { 
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.btnWrap{
   display: flex;
   flex-wrap: wrap;
  justify-content: center; 
  
  }

  .btnWrap button{
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid rgb(13, 13, 31);
    padding: 10px;
    border-radius: 10px; 
    
  }

  .btnWrap button:nth-of-type(1):hover{
    background-color:green;
    color: #fff;
    border-color: #fff;
  }

  .btnWrap button:nth-of-type(2n):hover{
    background-color: red;
    color: #fff;
    border-color: #fff;
  }

  .btnWrap button span:hover{    
  font-size: 25px;
  }

